/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #333;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}



h1, h2, th, h3, span, h4, p, ul, .error, label {
	font-family: verdana, arial, helvetica, sans-serif;
}

.box {
	margin: 33px;
}

.title {
	font-weight: bold;
}

h1 {
	margin: 18px 0;
	font-size: 28px;
}

td {
	padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

.thesd-title, .book-title {
	width: 190px;
	padding-bottom: 5px;
}

.thesd-body, .book-body {
	width: 400px;
	padding-bottom: 5px;
}

a {
	color: black;
}

h3 {
	margin: 16px 0;
}

.show-text {
	font-size: 13px;
	margin: 33px;
}

.field, .edit-button, .button {
	margin-bottom: 10px;
}

input {
	padding: 1px 6px;
}

h4, .button-edit, .button-back, .solid{
	padding-right: 5px;
	font-size: 14px;
	display: inline-block;
	float: left;
}

.show-button, .edit-solid, .back-button {
	padding-right: 5px;
	font-size: 14px;
	display: inline-block;
	float: left;
}

.flash {
	color: green;
}

.error {
	border: 2px solid red;
	width: 450px;
	margin-bottom: 15px;
	background-color: #f0f0f0;
}

.error-count {
	padding: 5px 6px;
	background-color: #c00;
	color: #fff;
	font-size: 12px;
}

ul {
	font-size: 12px;
	margin: 33px;
}

.field_with_errors {
	padding: 2px;
    background-color: red;
    display: table;
}

label {
    line-height: 18px;
	font-size: 13px;
	display: block;
}


